<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventiming.form2.DAO.topicDao">

    <insert id="insertTopic" parameterType="com.eventiming.form2.pojo.topic" useGeneratedKeys="true" keyProperty="topicid">
        insert into t_topic(title, userid, username, posttime, lastreplyedtime, lasteditedtime)
        values (#{title}, #{userid}, #{username}, #{posttime}, #{lastreplyedtime}, #{lasteditedtime})
    </insert>

    <insert id="insertTopicObject" parameterType="com.eventiming.form2.pojo.topic" useGeneratedKeys="true" keyProperty="topicid">
        insert into t_topic(title, userid, username, posttime, lastreplyedtime, lasteditedtime)
        values (#{title}, #{userid}, #{username}, #{posttime}, #{lastreplyedtime}, #{lasteditedtime})
    </insert>

    <delete id="deleteTopic" >
        delete from t_topic where topicid = #{topicid}
    </delete>

    <update id="updateTopicTitle" parameterType="com.eventiming.form2.pojo.topic">
        update t_topic set title = #{newtitle} where topicid = #{topicid}
    </update>

    <update id="updateTopicLastReplyedTime" parameterType="com.eventiming.form2.pojo.topic">
        update t_topic set lastreplyedtime = #{timestamp} where topicid = #{topicid}
    </update>

    <update id="updateTopicLastEditedTime" parameterType="com.eventiming.form2.pojo.topic">
        update t_topic set lasteditedtime = #{timestamp} where topicid = #{topicid}
    </update>

    <select id="selectTopicByUser" resultType="com.eventiming.form2.pojo.topic">
        select topicid from t_topic where userid = #{userid}
    </select>

    <select id="selectTopicByTitle" resultType="com.eventiming.form2.pojo.topic">
        select topicid from t_topic where title like concat('%', #{title}, '%')
    </select>

    <select id="selectTopicById" resultType="com.eventiming.form2.pojo.topic">
        select * from t_topic where topicid = #{topicid}
    </select>

    <select id="selectTopicByPostedTime" resultType="com.eventiming.form2.pojo.topic">
        select * from t_topic where posttime > #{posttime}
    </select>

    <select id="selectTopicByEditedTime" resultType="com.eventiming.form2.pojo.topic">
        select * from t_topic where lasteditedtime > #{editedtime}
    </select>

    <select id="selectIndexTopic" resultType="com.eventiming.form2.pojo.topic">
        SELECT *
        FROM t_topic
        ORDER BY lastreplyedtime DESC
        LIMIT #{num} OFFSET #{offset}
    </select>

</mapper>
